aiogram==3.15.0
telethon==1.37.0
pyrogram==2.0.106
aiohttp==3.10.11
python-dotenv==1.0.1
fpdf2==2.8.1
phonenumbers==8.13.50
email-validator==2.2.0
pytz==2024.2
cryptography==43.0.3

# dev / тесты
pytest==8.3.3
